<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
      <a class="navbar-brand" routerLink="/list">Cart</a>
    </div>
  </div>
</nav> -->

<ul class="nav navbar-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/home">Home</a></li>
  <li routerLinkActive="active"><a routerLink="/cart-list">Cart</a></li>
  <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
  <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
  <li id="adminLi" routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
  <li routerLinkActive="active"><a routerLink="/login">Login</a>
</li>

</ul>