<app-navigation></app-navigation>
  
        <div class="container">
            <router-outlet
            (activate)='onActivate($event)'
            (deactivate)='onDeactivate($event)'>
        </router-outlet>
        <!-- Routed views go here -->
  
        </div>


<!-- The content below is only a placeholder and can be replaced.
<div>
  <app-navigation></app-navigation>
</div>

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some components data: </h2>
<app-cart-item #childCart *ngIf="display"></app-cart-item>
<p>
    <button (click)="toggle()">Destroy/Display cart list component</button>
    <button (click)="childCart.console()">Console method from child called in parrent (doesn't work yet?)</button>
</p>
<app-cart-list></app-cart-list>
<div>
  <h3>Total cart: {{cartService.getTotalPrice() | currency}}</h3>
  <p>
    Last update date: {{cartService.getLastUpdateDate() | date:'medium' }}
  </p>
</div>
 -->
