<div id="cartListId">
  <h3>
    cart-list works!
  </h3>
  <div>
    <button (click)="toggleSorting()">Sort ASC/DESC toggle</button>
    <select [(ngModel)]="selectedColumn" (ngModelChange)="changeSelectedColumn($event)"> 
      <option *ngFor="let i of keys" [ngValue]="i">{{i}}</option>
    </select>
  </div>
  <p *ngIf="boughtGoods">
    In your cart you have next items:
  </p>
  <ul>
    <li *ngFor="let item of cartService.cart | orderBy:selectedColumn:toggle; let i = index" [attr.data-index]="i">
      <ul [style.color]= "item.highlighted ? 'blue' : 'black'"
          [style.cursor]= "item.highlighted ? 'pointer' : 'default'"
          [style.font-weight]= "item.selected ? 'bold' : 'normal'"
          (click)="cartService.setSelected(i)"
          (mouseenter)="cartService.highLight(i)"
          (mouseleave)="cartService.highLight(i)"      
      >
        Name: {{item.name | uppercase}}; quantity: {{item.quantity}}; Price for one item: {{item.price}} 
      </ul>
    </li>
  </ul>
  <button (click)="cartService.clearCart()">Clear cart</button>
  <button (click)="cartService.setDefaultCart()">Set default cart</button>
</div>
<app-cart-item></app-cart-item>
<div>
  <h3>Total cart: {{cartService.getTotalPrice() | currency}}</h3>
  <p>
    Last update date: {{cartService.getLastUpdateDate() | date:'medium' }}
  </p>
</div>