<h2>Products</h2>
<p>
  products works!
</p>
<p *ngIf="producs  ">
  <b>Please note:</b> you have to run <i><b>json-server --watch db.json</b></i> command under <b>db</b> folder, in order to see the data.
  <br>Admin will have possibility update products.
</p>
<!-- <p>
  {{ this.productPromiseService.getProducts() }}
</p> -->

<app-product
*ngFor='let product of products' 
[product]="product"
(onComplete)="completeProduct($event)">
</app-product><br>
<div>
  <!-- <button (click)="productPromiseService.addP()">Add new Product</button> -->
  <button (click)="goNewProductForm()">Add new Product</button>
</div>