<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            Task Form
        </h4>
    </div>
    <div class="panel-body">
        <form *ngIf="product" (ngSubmit)="saveProduct()" id="prouduct-form">
          <div class="form-group">
            <label for="Name">Product</label>
            <input type="text"
                class="form-control"
                id="name" name="name"
                placeholder="name"
                required
               [(ngModel)]="product.name"> <!--p> [(ngModel)]="prouduct.name"</p-->
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number"
                min="1" max="any"
                class="form-control"
                id="price" name="price"
                placeholder="Price"
                [(ngModel)]="product.price">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text"
                class="form-control"
                id="category" name="category"
                placeholder="Category"
                [(ngModel)]="product.category">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                class="form-control"
                id="description" name="description"
                placeholder="description"
                [(ngModel)]="product.description" >
          </div>
          <button
              type="submit"
              class="btn btn-primary"
              form="prouduct-form">Save
          </button>
          <button
              type="button"
              class="btn btn-primary"
              (click)="goBack()">Back
          </button>
        </form>
    </div>
</div>