<div id="cartItemId">
    <h3>
        cart-item works!
      </h3>
      <h4>
        Selected item:
      </h4>
      <div *ngIf = "cartService.getSelected()">
        
        <p>
          {{cartService.getSelected().name}}; quantity : {{cartService.getSelected().quantity}};
          price for one item: {{cartService.getSelected().price | currency}};
          Description: {{cartService.getSelected().description}}; Selected: {{cartService.getSelected().selected}}
        </p>  
          <button (click)="cartService.addQuantity()">+ quantity</button >
          <button (click)="cartService.removeQuantity()">- quantity</button>
        <p>
          <button (click)="cartService.removeSelected()">Remove last item</button>
        </p>  
      </div>
</div>

